<?xml version="1.0"?>
<!--
/**
 * SUMOHeavy_FacebookTracking
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@sumoheavy.com so we can send you a copy immediately.
 *
 * @category   SUMOHeavy
 * @package    SUMOHeavy_FacebookTracking
 * @copyright  Copyright 2013 SUMO Heavy Industries, LLC
 * @license    http://opensource.org/licenses/osl-3.0.php
 * @author     Sean Kennedy <support@sumoheavy.com>
 */
-->
<config>
    <modules>
        <SUMOHeavy_FacebookTracking>
            <version>0.1.0</version>
        </SUMOHeavy_FacebookTracking>
    </modules>

    <global>
        <events>
            <customer_save_after>
                <observers>
                    <sumoheavy_facebooktracking>
                        <type>singleton</type>
                        <class>sumoheavy_facebooktracking/observer</class>
                        <method>customerSaveAfter</method>
                    </sumoheavy_facebooktracking>
                </observers>
            </customer_save_after>
        </events>
        <helpers>
            <sumoheavy_facebooktracking>
                <class>SUMOHeavy_FacebookTracking_Helper</class>
            </sumoheavy_facebooktracking>
        </helpers>
        <models>
            <sumoheavy_facebooktracking>
                <class>SUMOHeavy_FacebookTracking_Model</class>
            </sumoheavy_facebooktracking>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <sumoheavy_facebooktracking>
                    <file>sumoheavy/facebooktracking.xml</file>
                </sumoheavy_facebooktracking>
            </updates>
        </layout>
    </frontend>

    <default>
        <sumoheavy_facebooktracking>
            <cart>
                <enabled>1</enabled>
            </cart>
            <category>
                <enabled>1</enabled>
            </category>
            <checkout_success>
                <enabled>1</enabled>
            </checkout_success>
            <homepage>
                <enabled>1</enabled>
            </homepage>
            <product>
                <enabled>1</enabled>
            </product>
            <registration>
                <enabled>1</enabled>
            </registration>
        </sumoheavy_facebooktracking>
    </default>
</config>
